# Python
__pycache__
.ipynb_checkpoints

# Venv
venv

# Models
models/
mlruns/

# VSCcode
.vscode

.env

.pytest_cache
data/.

!*.dvc 
/data

config/service-account.json

notebooks/dob-s3.ipynb

.streamlit/secrets.toml

.DS_Store